.container {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    color: #333;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: black;
}

.subtitle {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #ff8000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    display: inline-block;
}

.rocketIcon {
    color: #ff8000;
    font-size: 1.5rem;
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.divider {
    height: 2px;
    background-color: #ff8000;
    margin: 2rem 0;
    opacity: 0.3;
}

.exploreTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ff8000;
    padding: 0.8rem 1.5rem;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(255, 128, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    /* Smooth transition for hover effects */
}

.exploreTitle:hover {
    background-color: #ff8000;
    /* Change background color on hover */
    color: white;
    /* Change text color on hover */
    transform: scale(1.05);
    /* Slightly scale up the element */
    box-shadow: 0 6px 12px rgba(255, 128, 0, 0.3);
    /* Enhance shadow on hover */
}