.container {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 20px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.ringContainer {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 1000px;
    padding: 30px 20px;
}

.ring {
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px dashed #ccc;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 20s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.ring:hover {
    border-color: #ff8000;
    /* Highlight border on hover */
    transform: scale(1.05);
    /* Slight scaling effect */
}

.ring1 {
    width: 400px;
    height: 400px;
    animation-duration: 15s;
}

.ring2 {
    width: 600px;
    height: 600px;
    animation-duration: 12s;
}

.ring3 {
    width: 800px;
    height: 800px;
    animation-duration: 20s;
}

.icon {
    position: absolute;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.icon img {
    border-radius: 50%;
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.icon:hover img {
    border-color: #ff8000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.centerIcon {
    padding: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    z-index: 10;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.centerIcon:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* transform: scale(1.00); */
    cursor: pointer;
}

.centerIcon img {
    padding: 20px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.centerIcon:hover img {
    transform: scale(1.1);
}

/* Add responsiveness */
@media (max-width: 768px) {
    .ring1 {
        width: 300px;
        height: 300px;
    }

    .ring2 {
        width: 450px;
        height: 450px;
    }

    .ring3 {
        width: 600px;
        height: 600px;
    }

    .icon {
        width: 4rem;
        height: 4rem;
    }

    .centerIcon {
        width: 100px;
        height: 100px;
    }
}

/* Keyframes for rotation */
@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}